In [ ]:
pip install tabula-py

In [ ]:
import tabula
tabula.read_pdf('/Users/YC/Desktop/Scholarship Application/ePayslip20201019.pdf', stream=True)

In [ ]:
pip install --upgrade pip

In [ ]:
#Working with PDF in Python --> https://realpython.com/pdf-python/
!pip install PyPDF2

In [ ]:
import PyPDF2 as p2
PDFfile = open("/Users/YC/Desktop/data.pdf", "rb")  #the rb is to allow editing mode
PDFread = p2.PdfFileReader(PDFfile)
x=PDFread.getPage(1)

In [ ]:
data = x.extractText()
data

In [ ]:
df= data.DataFrame(data, (7,5)) 
#because the data we have are strings, cannot be reshaped into dataframe

## Read Payslip into csv 28th Dec 2020

In [ ]:
#install modules
pip install pdfplumber

#### Task1: Use Regular expression to read a pdf file and write into pandas data frame and csv

In [1]:
#Import Library
import re       #regular expression
import pdfplumber 
import pandas as pd
from collections import namedtuple #namedtuple library from collections module
import unicodedata  #for decode the text from unicode to actual character

In [ ]:
#Give a variable named line
Line = namedtuple("Line","Company_Name")

In [2]:
#Define what is an employee line with regular expression and test to see if match
company_re = re.compile(r"((.*)Ltd)")
company_re.match("Perspetum Diagnostics Ltd")

In [ ]:
#test and see if group match the regular expression. 
company_re.search("Perspetum Diagnostics Ltd").group(1)

In [ ]:
type(company_re.search("Perspetum Diagnostics Ltd"))

In [5]:
file = '/Users/YC/Work_Repo/fYnanCe/ePayslip20201019.pdf'

In [6]:
#Practice using pdfplumber
with pdfplumber.open(file) as pdf:
    page = pdf.pages[0]
    print(page.chars[0])
    meta = pdf.metadata
    print(meta)
    table = page.extract_table()
    print(table)
    texts = page.extract_text()
    print(texts)

{'fontname': 'AOGXMC+Arial-BoldMT', 'adv': Decimal('7.326'), 'upright': True, 'x0': Decimal('18.686'), 'y0': Decimal('797.988'), 'x1': Decimal('25.049'), 'y1': Decimal('807.542'), 'width': Decimal('6.363'), 'height': Decimal('9.554'), 'size': Decimal('9.554'), 'object_type': 'char', 'page_number': 1, 'stroking_color': None, 'non_stroking_color': (0.2, 0.2, 0.2), 'text': 'S', 'top': Decimal('34.458'), 'bottom': Decimal('44.012'), 'doctop': Decimal('34.458')}
{'Producer': 'macOS Version 10.15.7 (Build 19H2) Quartz PDFContext, AppendMode 1.1', 'ModDate': "D:20201231133051Z00'00'"}
None
SO­249 Yi Chun Wang Perspectum Diagnostics Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 1334.13 1334.13
Back Pay 431.03 431.03
Ers NIC TP:142.58 Ers Pension TP: 0.00
TOTAL 1,765.16
Ers NIC YTD: 142.58 Ers Pension YTD: 0.00
Tax 144.40 144.40
National Insurance 116.78 116.78
261.18
Total taxable pay to date: 1,765.16
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98

In [8]:
#Try to split with a new line but return in unit-8 format. Here is explanation https://stackoverflow.com/questions/39807985/python-write-file-dealing-with-encode

# If we use .strip, the white space can be removed
line = texts.strip("\n")
print(line)

SO­249 Yi Chun Wang Perspectum Diagnostics Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 1334.13 1334.13
Back Pay 431.03 431.03
Ers NIC TP:142.58 Ers Pension TP: 0.00
TOTAL 1,765.16
Ers NIC YTD: 142.58 Ers Pension YTD: 0.00
Tax 144.40 144.40
National Insurance 116.78 116.78
261.18
Total taxable pay to date: 1,765.16
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98

In [ ]:
#try to use regular expression to search through text rather than line. 
comp = company_re.search(texts)
Company_Name = comp.group(1)
print(Company_Name)

In [ ]:
#try using append function
holder = [] #create a list holder
comp = company_re.search(texts)
Company_Name = comp.group(1)
holder.append(Line(Company_Name))
print(holder)

In [ ]:
#practice wirting the holder into a pandas dataframe
df = pd.DataFrame(holder)
df.head()

In [ ]:
#try writing the dataframe into a csv file
df.to_csv("payslip.csv", index = False)

#### Task2: String Cleaning

In [9]:
print(texts)

SO­249 Yi Chun Wang Perspectum Diagnostics Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 1334.13 1334.13
Back Pay 431.03 431.03
Ers NIC TP:142.58 Ers Pension TP: 0.00
TOTAL 1,765.16
Ers NIC YTD: 142.58 Ers Pension YTD: 0.00
Tax 144.40 144.40
National Insurance 116.78 116.78
261.18
Total taxable pay to date: 1,765.16
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98

In [10]:
type(texts)

str

In [11]:
#change the unicode string to the normal form NFKC. see-> https://docs.python.org/2/library/unicodedata.html#unicodedata.normalize
text2 = unicodedata.normalize("NFC",texts)   #NFC doesn't normalise the white space
text2 = unicodedata.normalize("NFKC",texts)  #NFKC do normalise the white space
text2 = unicodedata.normalize("NFD",texts)   #NFD doesn't normalise the white space
text2 = unicodedata.normalize("NFKD",texts)  #NFKD do normalise the white space
text2

#however, none of it normalise \xad

'SO\xad249 Yi Chun Wang Perspectum Diagnostics Ltd\nNI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1\nDESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)\nSalary 1334.13 1334.13\nBack Pay 431.03 431.03\nErs NIC TP:142.58 Ers Pension TP: 0.00\nTOTAL 1,765.16\nErs NIC YTD: 142.58 Ers Pension YTD: 0.00\nTax 144.40 144.40\nNational Insurance 116.78 116.78\n261.18\nTotal taxable pay to date: 1,765.16\nTax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98'

In [12]:
#replace the \xad, which is the U+00AD soft-hyphen characters. see-> https://stackoverflow.com/questions/51976328/best-way-to-remove-xad-in-python
text3 = text2.replace("\xad", "")
text3

'SO249 Yi Chun Wang Perspectum Diagnostics Ltd\nNI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1\nDESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)\nSalary 1334.13 1334.13\nBack Pay 431.03 431.03\nErs NIC TP:142.58 Ers Pension TP: 0.00\nTOTAL 1,765.16\nErs NIC YTD: 142.58 Ers Pension YTD: 0.00\nTax 144.40 144.40\nNational Insurance 116.78 116.78\n261.18\nTotal taxable pay to date: 1,765.16\nTax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98'

In [ ]:
#try to split lines in texts
text4 = text3.split("\n")
text4

In [ ]:
type(text4)

In [ ]:
text5 = text3.split()
text5

#### Task 3: expand to use regular expression to match Employee_ID, Employee_Name, Company_Name

In [13]:
#Define what is an employee line with regular expression
#the "-" in SO-249 will cause the regular expression to crash
# \S will match any non-whitespace character
employ_re = re.compile(r"(SO\S\d+)(.*)(Perspectum.*)")
employ_re.search(text3).group(1,2,3)

('SO249', ' Yi Chun Wang ', 'Perspectum Diagnostics Ltd')

In [14]:
#try to match text variable and return it as a list
employ_re.findall(text3)

[('SO249', ' Yi Chun Wang ', 'Perspectum Diagnostics Ltd')]

In [15]:
Line = namedtuple("Employment","Employee_ID, Employee_Name, Company_Name")


holder = [] #create a list holder
emp = employ_re.search(text3)
Employee_ID, Employee_Name, Company_Name = emp.group(1), emp.group(2), emp.group(3)
holder.append(Line(Employee_ID, Employee_Name, Company_Name))
df = pd.DataFrame(holder)
df

  Employee_ID   Employee_Name                Company_Name
0       SO249   Yi Chun Wang   Perspectum Diagnostics Ltd

#### Task4: Practice Regular Expression with the existing :

In [36]:
PayDate_re = re.compile(r"(Date: )(\d{2}/\d{2}/\d{4})")
PayDate_re.search(text3).group(2)

'30/04/2020'

In [17]:
#Expand the match and try to ignore matching white space
Salary_re = re.compile(r"(Salary)(\s\d+.\d+)")
Salary_re.search(text3)
BackPay_re = re.compile(r"(Back Pay)(\s\d+.\d+)")
BackPay_re.search(text3)
Tax_re = re.compile(r"(Tax)(\s\d+.\d+)")
NI_re = re.compile(r"(National Insurance)(\s\d+.\d+)")
NI_re.search(text3)

In [18]:
#Expand to include the national insurance contribution
ErsNICTP_re = re.compile(r"(Ers NIC TP:)(\d+.\d+)")    #Employer's National Insurance Contribution to Date. #Somehow white space does not work
ErsNICYTD_re = re.compile(r"(Ers NIC YTD:)(\s\d+.\d+)")   #Employer National Insurance Contribution Year to Date
ErsPensionTP_re = re.compile(r"(Ers Pension TP:)(\s\d+.\d+)") #Employer's Pension contribution. It does not form part of your salary which is going through your payslip with a gross to net analysis each month
ErsPensionYTD_re = re.compile(r"(Ers Pension YTD:)(\s\d+.\d+)")

In [20]:
ErsNICTP_re = re.compile(r"(Ers NIC TP:)(\d+)")
ErsNICTP_re.search(text3).group(2)

'142'

In [21]:
ErsNICYTD_re = re.compile(r"(Ers NIC YTD:)(\s\d+.\d)")
ErsNICYTD_re.search(text3).group(2)

' 142.5'

In [22]:
ErsPensionTP_re = re.compile(r"(Ers Pension TP:)(\s\d+.\d)")
ErsPensionTP_re.search(text3).group(2)

' 0.0'

In [23]:
ErsPensionYTD_re = re.compile(r"(Ers Pension YTD:)(\s\d+.\d)")
ErsPensionYTD_re.search(text3).group(2)

' 0.0'

In [24]:
#Bundle the regular expressions together. Yaya succeeded

Line = namedtuple("Employment","Employee_ID, Employee_Name, Company_Name, Pay_Date, Salary, Back_Pay, Tax, National_Insurance, Ers_NIC_TP, Ers_NIC_YTD, Ers_Pension_TP, Ers_Pension_YTD")


holder = [] 

#employment information
emp = employ_re.search(text3) 
Employee_ID, Employee_Name, Company_Name = emp.group(1), emp.group(2), emp.group(3)


#Cashflow information
Pay_Date = PayDate_re.search(text3).group(2)
Salary = Salary_re.search(text3).group(2)
Back_Pay = BackPay_re.search(text3).group(2)
Tax = Tax_re.search(text3).group(2)
National_Insurance = NI_re.search(text3).group(2)


#Benefit information
Ers_NIC_TP = ErsNICTP_re.search(text3).group(2)
Ers_NIC_YTD = ErsNICYTD_re.search(text3).group(2)
Ers_Pension_TP = ErsPensionTP_re.search(text3).group(2)
Ers_Pension_YTD = ErsPensionYTD_re.search(text3).group(2)


#Use named tuple to bumdle all the information
holder.append(Line(Employee_ID, Employee_Name, Company_Name, Pay_Date, Salary, Back_Pay, Tax, National_Insurance, Ers_NIC_TP, Ers_NIC_YTD, Ers_Pension_TP, Ers_Pension_YTD))

df = pd.DataFrame(holder)
df

,Employee_ID,Employee_Name,Company_Name,Pay_Date,Salary,Back_Pay,Tax,National_Insurance,Ers_NIC_TP,Ers_NIC_YTD,Ers_Pension_TP,Ers_Pension_YTD
0,SO249,Yi Chun Wang,Perspectum Diagnostics Ltd,30/04/2020,1334.13,431.03,144.40,116.78,142,142.5,0.0,0.0

#### Task5: Format the text to numerical value and date time format

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         1 non-null      object
 1   Employee_Name       1 non-null      object
 2   Company_Name        1 non-null      object
 3   Pay_Date            1 non-null      datetime64[ns]
 4   Salary              1 non-null      float64
 5   Back_Pay            1 non-null      float64
 6   Tax                 1 non-null      float64
 7   National_Insurance  1 non-null      float64
 8   Ers_NIC_TP          1 non-null      int64
 9   Ers_NIC_YTD         1 non-null      float64
 10  Ers_Pension_TP      1 non-null      float64
 11  Ers_Pension_YTD     1 non-null      float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(3)
memory usage: 224.0+ bytes

In [26]:
#convert Pay Date values to date time format
df["Pay_Date"] = pd.to_datetime(df["Pay_Date"])

In [27]:
#convert cashflow and benefit information to numerical values
for col in df.columns[-8:]:
    df[col] = pd.to_numeric(df[col])

#### Task6: Bundle all the regular expression together and write into panadas dataframe

In [37]:
# Import essential Libraries
import re
import pdfplumber 
import pandas as pd
from collections import namedtuple
import unicodedata

file = '/Users/YC/Work_Repo/fYnanCe/ePayslip20201019.pdf'


with pdfplumber.open(file) as pdf:
    page = pdf.pages[0]
    texts = page.extract_text()
    
text2 = unicodedata.normalize("NFKD",texts)
text3 = text2.replace("\xad", "")

employ_re = re.compile(r"(SO\S\d+)(.*)(Perspectum.*)")
PayDate_re = re.compile(r"(Date: )(\d{2}/\d{2}/\d{4})")
Salary_re = re.compile(r"(Salary)(\s\d+.\d+)")
BackPay_re = re.compile(r"(Back Pay)(\s\d+.\d+)")
Tax_re = re.compile(r"(Tax)(\s\d+.\d+)")
NI_re = re.compile(r"(National Insurance)(\s\d+.\d+)")
ErsNICTP_re = re.compile(r"(Ers NIC TP:)(\d+.\d+)")    
ErsNICYTD_re = re.compile(r"(Ers NIC YTD:)(\s\d+.\d+)")
ErsPensionTP_re = re.compile(r"(Ers Pension TP:)(\s\d+.\d+)")
ErsPensionYTD_re = re.compile(r"(Ers Pension YTD:)(\s\d+.\d+)")


Line = namedtuple("Employment","Employee_ID, Employee_Name, Company_Name, Pay_Date, Salary, Back_Pay, Tax, National_Insurance, Ers_NIC_TP, Ers_NIC_YTD, Ers_Pension_TP, Ers_Pension_YTD")
emp = employ_re.search(text3) 
Employee_ID = employ_re.search(text3).group(1)
Employee_Name = employ_re.search(text3).group(2)
Company_Name = employ_re.search(text3).group(3)
Pay_Date = PayDate_re.search(text3).group(2)
Salary = Salary_re.search(text3).group(2)
Back_Pay = BackPay_re.search(text3).group(2)
Tax = Tax_re.search(text3).group(2)
National_Insurance = NI_re.search(text3).group(2)

Ers_NIC_TP = ErsNICTP_re.search(text3).group(2)
Ers_NIC_YTD = ErsNICYTD_re.search(text3).group(2)
Ers_Pension_TP = ErsPensionTP_re.search(text3).group(2)
Ers_Pension_YTD = ErsPensionYTD_re.search(text3).group(2)

holder = []
holder.append(Line(Employee_ID, Employee_Name, Company_Name, Pay_Date, Salary, Back_Pay, Tax, National_Insurance, Ers_NIC_TP, Ers_NIC_YTD, Ers_Pension_TP, Ers_Pension_YTD))

df = pd.DataFrame(holder)
df["Pay_Date"] = pd.to_datetime(df["Pay_Date"])
for col in df.columns[-8:]:
    df[col] = pd.to_numeric(df[col])
df

,Employee_ID,Employee_Name,Company_Name,Pay_Date,Salary,Back_Pay,Tax,National_Insurance,Ers_NIC_TP,Ers_NIC_YTD,Ers_Pension_TP,Ers_Pension_YTD
0,SO249,Yi Chun Wang,Perspectum Diagnostics Ltd,2020-04-30,1334.13,431.03,144.4,116.78,142.58,142.58,0.0,0.0

#### Task7:Build the combined code in to for loop to extract multiple pages of payslip

In [30]:
#Import library pdfplumber and Explore pdfplumer: resource can be found: https://pypi.org/project/pdfplumber/#objects

import pdfplumber

file = "/Users/YC/Work_Repo/fYnanCe/3page.pdf"

with pdfplumber.open(file) as pdf:
    extractPage = pdf.pages
    metaPage = pdf.metadata
    print(extractPage)
    print(metaPage)
    
    PN = extractPage[1].page_number
    PW = extractPage[1].width
    PH = extractPage[1].height
    PO = extractPage[1].objects
    PC = extractPage[1].chars
    PT = extractPage[1].extract_text()
    print(PN,PW,PH)
    print(PT)

type(pdf)         #See what the type of them are >> pdfplumber.pdf.PDF
type(extractPage) #>>list

[<Page:1>, <Page:2>, <Page:3>]
{'Producer': 'macOS Version 10.15.7 (Build 19H2) Quartz PDFContext, AppendMode 1.1', 'ModDate': "D:20210227111347Z00'00'"}
2 595 842
SO­249 Yi Chun Wang Perspectum Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/09/2020 Period: 6
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 2500.00 9170.65
Salary Sacrifice ­100.00 ­313.48
Ers NIC TP:230.18 Ers Pension TP: 113.80
TOTAL 2,400.00
Ers NIC YTD: 688.42 Ers Pension YTD: 356.76
Tax 271.40 625.00
National Insurance 192.96 555.42
464.36
Total taxable pay to date: 9,380.56
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1935.64

list

In [ ]:
#Build for loop to extract text from each page

with pdfplumber.open(file) as pdf:
    extractPage = pdf.pages
    for i in range(len(extractPage)):
        PT = extractPage[i].extract_text()
        print("Here is the text in page:", i+1)
        print(PT)
        print(" ")
        
print("done")

#### Task8: Loop through each page of pdf with text manipulation

In [32]:
import unicodedata

with pdfplumber.open(file) as pdf:
    extractPage = pdf.pages
    for i in range(len(extractPage)):
        PT = extractPage[i].extract_text()
        PT2 = unicodedata.normalize("NFKD",PT)
        PT3 = PT2.replace("\xad", "")
        print("Here is the text in page:", i+1)
        print(PT3)
        print(" ")
        
print("done")

Here is the text in page: 1
SO249 Yi Chun Wang Perspectum Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 31/08/2020 Period: 5
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 1334.13 6670.65
Salary Sacrifice 53.37 213.48
Ers NIC TP:75.73 Ers Pension TP: 60.74
TOTAL 1,280.76
Ers NIC YTD: 458.24 Ers Pension YTD: 242.96
Tax 47.60 353.60
National Insurance 58.65 362.46
106.25
Total taxable pay to date: 6,980.56
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1174.51

Here is the text in page: 2
SO249 Yi Chun Wang Perspectum Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/09/2020 Period: 6
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 2500.00 9170.65
Salary Sacrifice 100.00 313.48
Ers NIC TP:230.18 Ers Pension TP: 113.80
TOTAL 2,400.00
Ers NIC YTD: 688.42 Ers Pension YTD: 356.76
Tax 271.40 625.00
National Insurance 192.96 555.42
464.36
Total taxable pay to date: 9,380.56
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1935.64

Here is the text in page: 3
SO249 Yi Chun Wang Perspectum Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 31/10/2020 Period: 7
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 2500.00 11670.65
Salary Sacrifice 100.00 413.48
Ers NIC TP:230.18 Ers Pension TP: 113.80
TOTAL 2,400.00
Ers NIC YTD: 918.60 Ers Pension YTD: 470.56
Tax 271.60 896.60
National Insurance 192.96 748.38
464.56
Total taxable pay to date: 11,780.56
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1935.44

done

In [33]:
# With .strip() method, no need to use unicodedata to conduct text manipulation

with pdfplumber.open(file) as pdf:
    extractPage = pdf.pages
    for i in range(len(extractPage)):
        PT = extractPage[i].extract_text()
        PT2 = PT.strip()
        print("Here is the text in page:", i+1)
        print(PT2)
        print(" ")
        
print("done")

Here is the text in page: 1
SO­249 Yi Chun Wang Perspectum Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 31/08/2020 Period: 5
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 1334.13 6670.65
Salary Sacrifice ­53.37 ­213.48
Ers NIC TP:75.73 Ers Pension TP: 60.74
TOTAL 1,280.76
Ers NIC YTD: 458.24 Ers Pension YTD: 242.96
Tax 47.60 353.60
National Insurance 58.65 362.46
106.25
Total taxable pay to date: 6,980.56
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1174.51

Here is the text in page: 2
SO­249 Yi Chun Wang Perspectum Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/09/2020 Period: 6
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 2500.00 9170.65
Salary Sacrifice ­100.00 ­313.48
Ers NIC TP:230.18 Ers Pension TP: 113.80
TOTAL 2,400.00
Ers NIC YTD: 688.42 Ers Pension YTD: 356.76
Tax 271.40 625.00
National Insurance 192.96 555.42
464.36
Total taxable pay to date: 9,380.56
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1935.64

Here is the text in page: 3
SO­249 Yi Chun Wang Perspectum Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 31/10/2020 Period: 7
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 2500.00 11670.65
Salary Sacrifice ­100.00 ­413.48
Ers NIC TP:230.18 Ers Pension TP: 113.80
TOTAL 2,400.00
Ers NIC YTD: 918.60 Ers Pension YTD: 470.56
Tax 271.60 896.60
National Insurance 192.96 748.38
464.56
Total taxable pay to date: 11,780.56
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1935.44

done

In [44]:
import re
import pdfplumber 
import pandas as pd
from collections import namedtuple

file = "/Users/YC/Work_Repo/fYnanCe/3page.pdf"

with pdfplumber.open(file) as pdf:
    extractPage = pdf.pages
    
    holder = []
    for i in range(len(extractPage)):
        PT = extractPage[i].extract_text()
        PT2 = PT.strip()

        employ_re = re.compile(r"(SO\S\d+)(.*)(Perspectum.*)")
        PayDate_re = re.compile(r"(Date: )(\d{2}/\d{2}/\d{4})")
        Salary_re = re.compile(r"(Salary)(\s\d+.\d+)")
        BackPay_re = re.compile(r"(Back Pay)(\s\d+.\d+)")
        Tax_re = re.compile(r"(Tax)(\s\d+.\d+)")
        NI_re = re.compile(r"(National Insurance)(\s\d+.\d+)")
        ErsNICTP_re = re.compile(r"(Ers NIC TP:)(\d+.\d+)")    
        ErsNICYTD_re = re.compile(r"(Ers NIC YTD:)(\s\d+.\d+)")
        ErsPensionTP_re = re.compile(r"(Ers Pension TP:)(\s\d+.\d+)")
        ErsPensionYTD_re = re.compile(r"(Ers Pension YTD:)(\s\d+.\d+)")


        Line = namedtuple("Employment","Employee_ID, Employee_Name, Company_Name, Pay_Date, Salary, Tax, National_Insurance, Ers_NIC_TP, Ers_NIC_YTD, Ers_Pension_TP, Ers_Pension_YTD")
        emp = employ_re.search(PT2) 
        Employee_ID = employ_re.search(PT2).group(1)
        Employee_Name = employ_re.search(PT2).group(2)
        Company_Name = employ_re.search(PT2).group(3)
        # Pay_Date = PayDate_re.search(PT2).group(2)
        Salary = Salary_re.search(PT2).group(2)
        # Back_Pay = BackPay_re.search(PT2).group(1)     #need to find how to accommodate for no value
        Tax = Tax_re.search(PT2).group(2)
        # National_Insurance = NI_re.search(PT2).group(2)

        # Ers_NIC_TP = ErsNICTP_re.search(PT2).group(2)
        # Ers_NIC_YTD = ErsNICYTD_re.search(PT2).group(2)
        # Ers_Pension_TP = ErsPensionTP_re.search(PT2).group(2)
        # Ers_Pension_YTD = ErsPensionYTD_re.search(PT2).group(2)

        holder.append(Line(Employee_ID, Employee_Name, Company_Name, Pay_Date, Salary, Tax, National_Insurance, Ers_NIC_TP, Ers_NIC_YTD, Ers_Pension_TP, Ers_Pension_YTD))

df = pd.DataFrame(holder)

df["Pay_Date"] = pd.to_datetime(df["Pay_Date"]) # still not work

for col in df.columns[-8:]:
    df[col] = pd.to_numeric(df[col])  
df

,Employee_ID,Employee_Name,Company_Name,Pay_Date,Salary,Tax,National_Insurance,Ers_NIC_TP,Ers_NIC_YTD,Ers_Pension_TP,Ers_Pension_YTD
0,SO­249,Yi Chun Wang,Perspectum Ltd,1588204800000000000,1334.13,47.6,116.78,142.58,142.58,0.0,0.0
1,SO­249,Yi Chun Wang,Perspectum Ltd,1588204800000000000,2500.00,271.4,116.78,142.58,142.58,0.0,0.0
2,SO­249,Yi Chun Wang,Perspectum Ltd,1588204800000000000,2500.00,271.6,116.78,142.58,142.58,0.0,0.0

In [41]:
df["Pay_Date"] = pd.to_datetime(df["Pay_Date"])
df

,Employee_ID,Employee_Name,Company_Name,Pay_Date,Salary,Tax,National_Insurance,Ers_NIC_TP,Ers_NIC_YTD,Ers_Pension_TP,Ers_Pension_YTD
0,SO­249,Yi Chun Wang,Perspectum Ltd,2020-04-30,1334.13,47.6,116.78,142.58,142.58,0.0,0.0
1,SO­249,Yi Chun Wang,Perspectum Ltd,2020-04-30,2500.00,271.4,116.78,142.58,142.58,0.0,0.0
2,SO­249,Yi Chun Wang,Perspectum Ltd,2020-04-30,2500.00,271.6,116.78,142.58,142.58,0.0,0.0

In [ ]:
df.info()

In [ ]:
#split the infomation matched and write into csv
tmp = re.split(r":", text3)

In [ ]:
x = 10

while x>2:
    x = x-1
    print("This is the ",x, "try")