In [1]:
pip install tabula-py

Requirement already satisfied: tabula-py in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (2.1.0)
Requirement already satisfied: pandas>=0.25.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tabula-py) (1.0.3)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tabula-py) (1.16.3)
Requirement already satisfied: distro in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from tabula-py) (1.5.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas>=0.25.3->tabula-py) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas>=0.25.3->tabula-py) (2019.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)
WARNING: You are using pip version 20.0.2; however, version 20.3.3 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import tabula
tabula.read_pdf('/Users/YC/Desktop/Scholarship Application/ePayslip20201019.pdf', stream=True)

'pages' argument isn't specified.Will extract only from page 1 by default.
Error from tabula-java:
No Java runtime present, requesting install.

CalledProcessError: Command '['java', '-Djava.awt.headless=true', '-Dfile.encoding=UTF8', '-jar', '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/tabula/tabula-1.0.3-jar-with-dependencies.jar', '--stream', '--guess', '--format', 'JSON', '/Users/YC/Desktop/Scholarship Application/ePayslip20201019.pdf']' returned non-zero exit status 1.

In [5]:
pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/54/0c/d01aa759fdc501a58f431eb594a17495f15b88da142ce14b5845662c13f3/pip-20.0.2-py2.py3-none-any.whl (1.4MB)
     |████████████████████████████████| 1.4MB 2.0MB/s eta 0:00:01
Installing collected packages: pip
  Found existing installation: pip 19.1.1
    Uninstalling pip-19.1.1:
      Successfully uninstalled pip-19.1.1
Successfully installed pip-20.0.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Working with PDF in Python --> https://realpython.com/pdf-python/
!pip install PyPDF2

Collecting PyPDF2
  Downloading PyPDF2-1.26.0.tar.gz (77 kB)
     |████████████████████████████████| 77 kB 1.8 MB/s eta 0:00:01
Installing collected packages: PyPDF2
    Running setup.py install for PyPDF2 ... done
Successfully installed PyPDF2-1.26.0

In [11]:
import PyPDF2 as p2
PDFfile = open("/Users/YC/Desktop/data.pdf", "rb")  #the rb is to allow editing mode
PDFread = p2.PdfFileReader(PDFfile)
x=PDFread.getPage(1)

In [20]:
data = x.extractText()
data

'Sepal.Length\nSepal.Width\nPetal.Length\nPetal.Width\nSpecies\n5.1\n3.5\n1.4\n0.2\nsetosa\n4.9\n3.0\n1.4\n0.2\nsetosa\n4.7\n3.2\n1.3\n0.2\nsetosa\n4.6\n3.1\n1.5\n0.2\nsetosa\n5.0\n3.6\n1.4\n0.2\nsetosa\n5.4\n3.9\n1.7\n0.4\nsetosa\nSepal.Length\nSepal.Width\nPetal.Length\nPetal.Width\nSpecies\n145\n6.7\n3.3\n5.7\n2.5\nvirginica\n146\n6.7\n3.0\n5.2\n2.3\nvirginica\n147\n6.3\n2.5\n5.0\n1.9\nvirginica\n148\n6.5\n3.0\n5.2\n2.0\nvirginica\n149\n6.2\n3.4\n5.4\n2.3\nvirginica\n150\n5.9\n3.0\n5.1\n1.8\nvirginica\n2\n'

In [16]:
df= data.DataFrame(data, (7,5)) 
#because the data we have are strings, cannot be reshaped into dataframe

AttributeError: 'str' object has no attribute 'DataFrame'

## Read Payslip into csv 28th Dec 2020

In [8]:
#install modules
pip install pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.5.25.tar.gz (42 kB)
     |████████████████████████████████| 42 kB 1.2 MB/s eta 0:00:01
Collecting pdfminer.six==20200517
  Downloading pdfminer.six-20200517-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 3.0 MB/s eta 0:00:01     |██▊                             | 481 kB 3.0 MB/s eta 0:00:02     |███████▋                        | 1.3 MB 3.0 MB/s eta 0:00:02
Collecting Pillow>=7.0.0
  Downloading Pillow-8.0.1-cp37-cp37m-macosx_10_10_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 4.7 MB/s eta 0:00:01
Collecting Wand
  Downloading Wand-0.6.5-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 6.6 MB/s eta 0:00:01
Collecting sortedcontainers
  Downloading sortedcontainers-2.3.0-py2.py3-none-any.whl (29 kB)
Collecting pycryptodome
  Downloading pycryptodome-3.9.9-cp37-cp37m-macosx_10_6_intel.whl (14.1 MB)
     |████████████████████████████████| 14.1 MB 5.3 MB/s eta 0:00:01    |████▌                           | 2.0 MB 7.0 MB/s eta 0:00:02     |███████▍                        | 3.3 MB 7.0 MB/s eta 0:00:02
Requirement already satisfied: chardet; python_version > "3.0" in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pdfminer.six==20200517->pdfplumber) (3.0.4)
Installing collected packages: sortedcontainers, pycryptodome, pdfminer.six, Pillow, Wand, pdfplumber
    Running setup.py install for pdfplumber ... done
Successfully installed Pillow-8.0.1 Wand-0.6.5 pdfminer.six-20200517 pdfplumber-0.5.25 pycryptodome-3.9.9 sortedcontainers-2.3.0
WARNING: You are using pip version 20.0.2; however, version 20.3.3 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

#### Task1: Use Regular expression to read a pdf file and write into pandas data frame and csv

In [2]:
#Import Library
import re       #regular expression
import pdfplumber 
import pandas as pd
from collections import namedtuple #namedtuple library from collections module
import unicodedata  #for decode the text from unicode to actual character

In [60]:
#Give a variable named line
Line = namedtuple("Line","Company_Name")

In [2]:
#Define what is an employee line with regular expression and test to see if match
company_re = re.compile(r"((.*)Ltd)")
company_re.match("Perspetum Diagnostics Ltd")

In [4]:
#test and see if group match the regular expression. 
company_re.search("Perspetum Diagnostics Ltd").group(1)

'Perspetum Diagnostics Ltd'

In [5]:
type(company_re.search("Perspetum Diagnostics Ltd"))

re.Match

In [3]:
file = '/Users/YC/Desktop/Scholarship Application/ePayslip20201019.pdf'

In [4]:
#Practice using pdfplumber
with pdfplumber.open(file) as pdf:
    page = pdf.pages[0]
    print(page.chars[0])
    meta = pdf.metadata
    print(meta)
    table = page.extract_table()
    print(table)
    texts = page.extract_text()
    print(texts)

{'fontname': 'AOGXMC+Arial-BoldMT', 'adv': Decimal('7.326'), 'upright': True, 'x0': Decimal('18.686'), 'y0': Decimal('797.988'), 'x1': Decimal('25.049'), 'y1': Decimal('807.542'), 'width': Decimal('6.363'), 'height': Decimal('9.554'), 'size': Decimal('9.554'), 'object_type': 'char', 'page_number': 1, 'stroking_color': None, 'non_stroking_color': (0.2, 0.2, 0.2), 'text': 'S', 'top': Decimal('34.458'), 'bottom': Decimal('44.012'), 'doctop': Decimal('34.458')}
{'Producer': 'macOS Version 10.15.7 (Build 19H2) Quartz PDFContext, AppendMode 1.1', 'ModDate': "D:20201231133051Z00'00'"}
None
SO­249 Yi Chun Wang Perspectum Diagnostics Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 1334.13 1334.13
Back Pay 431.03 431.03
Ers NIC TP:142.58 Ers Pension TP: 0.00
TOTAL 1,765.16
Ers NIC YTD: 142.58 Ers Pension YTD: 0.00
Tax 144.40 144.40
National Insurance 116.78 116.78
261.18
Total taxable pay to date: 1,765.16
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98

In [5]:
#Try to split with a new line but return in unit-8 format. Here is explanation https://stackoverflow.com/questions/39807985/python-write-file-dealing-with-encode
line = texts.split("\n")
print(line)

['SO\xad249\xa0Yi\xa0Chun\xa0Wang Perspectum\xa0Diagnostics\xa0Ltd', 'NI\xa0Letter\xa0&No:\xa0A Tax\xa0Code:\xa01250L Pay\xa0By:\xa0Bacs Date:\xa030/04/2020 Period:\xa01', 'DESCRIPTION RATE UNITS\xa0DUE AMOUNT\xa0(£) THIS\xa0YEAR\xa0(£)', 'Salary 1334.13 1334.13', 'Back\xa0Pay 431.03 431.03', 'Ers\xa0NIC\xa0TP:142.58 Ers\xa0Pension\xa0TP:\xa00.00', 'TOTAL 1,765.16', 'Ers\xa0NIC\xa0YTD:\xa0142.58 Ers\xa0Pension\xa0YTD:\xa00.00', 'Tax 144.40 144.40', 'National\xa0Insurance 116.78 116.78', '261.18', 'Total\xa0taxable\xa0pay\xa0to\xa0date:\xa01,765.16', 'Tax\xa0District:\xa0North\xa0East\xa0Metro Tax\xa0Reference:120/XA96981 NET\xa0PAY 1503.98']

In [6]:
#try to use regular expression to search through text rather than line. 
comp = company_re.search(texts)
Company_Name = comp.group(1)
print(Company_Name)

SO­249 Yi Chun Wang Perspectum Diagnostics Ltd

In [61]:
#try using append function
holder = [] #create a list holder
comp = company_re.search(texts)
Company_Name = comp.group(1)
holder.append(Line(Company_Name))
print(holder)

[Line(Company_Name='SO\xad249\xa0Yi\xa0Chun\xa0Wang Perspectum\xa0Diagnostics\xa0Ltd')]

In [10]:
#practice wirting the holder into a pandas dataframe
df = pd.DataFrame(holder)
df.head()

                                     Company_Name
0  SO­249 Yi Chun Wang Perspectum Diagnostics Ltd

In [11]:
#try writing the dataframe into a csv file
df.to_csv("payslip.csv", index = False)

#### Task2: String Cleaning

In [8]:
print(texts)

SO­249 Yi Chun Wang Perspectum Diagnostics Ltd
NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1
DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)
Salary 1334.13 1334.13
Back Pay 431.03 431.03
Ers NIC TP:142.58 Ers Pension TP: 0.00
TOTAL 1,765.16
Ers NIC YTD: 142.58 Ers Pension YTD: 0.00
Tax 144.40 144.40
National Insurance 116.78 116.78
261.18
Total taxable pay to date: 1,765.16
Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98

In [9]:
type(texts)

str

In [5]:
#change the unicode string to the normal form NFKC. see-> https://docs.python.org/2/library/unicodedata.html#unicodedata.normalize
text2 = unicodedata.normalize("NFC",texts)   #NFC doesn't normalise the white space
text2 = unicodedata.normalize("NFKC",texts)  #NFKC do normalise the white space
text2 = unicodedata.normalize("NFD",texts)   #NFD doesn't normalise the white space
text2 = unicodedata.normalize("NFKD",texts)  #NFKD do normalise the white space
text2

#however, none of it normalise \xad

'SO\xad249 Yi Chun Wang Perspectum Diagnostics Ltd\nNI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1\nDESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)\nSalary 1334.13 1334.13\nBack Pay 431.03 431.03\nErs NIC TP:142.58 Ers Pension TP: 0.00\nTOTAL 1,765.16\nErs NIC YTD: 142.58 Ers Pension YTD: 0.00\nTax 144.40 144.40\nNational Insurance 116.78 116.78\n261.18\nTotal taxable pay to date: 1,765.16\nTax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98'

In [6]:
#replace the \xad, which is the U+00AD soft-hyphen characters. see-> https://stackoverflow.com/questions/51976328/best-way-to-remove-xad-in-python
text3 = text2.replace("\xad", "")
text3

'SO249 Yi Chun Wang Perspectum Diagnostics Ltd\nNI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1\nDESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)\nSalary 1334.13 1334.13\nBack Pay 431.03 431.03\nErs NIC TP:142.58 Ers Pension TP: 0.00\nTOTAL 1,765.16\nErs NIC YTD: 142.58 Ers Pension YTD: 0.00\nTax 144.40 144.40\nNational Insurance 116.78 116.78\n261.18\nTotal taxable pay to date: 1,765.16\nTax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98'

In [7]:
#try to split lines in texts
text4 = text3.split("\n")
text4

['SO249 Yi Chun Wang Perspectum Diagnostics Ltd',
 'NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1',
 'DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)',
 'Salary 1334.13 1334.13',
 'Back Pay 431.03 431.03',
 'Ers NIC TP:142.58 Ers Pension TP: 0.00',
 'TOTAL 1,765.16',
 'Ers NIC YTD: 142.58 Ers Pension YTD: 0.00',
 'Tax 144.40 144.40',
 'National Insurance 116.78 116.78',
 '261.18',
 'Total taxable pay to date: 1,765.16',
 'Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98']

In [14]:
type(text4)

list

In [15]:
text5 = text3.split()
text5

['SO249',
 'Yi',
 'Chun',
 'Wang',
 'Perspectum',
 'Diagnostics',
 'Ltd',
 'NI',
 'Letter',
 '&No:',
 'A',
 'Tax',
 'Code:',
 '1250L',
 'Pay',
 'By:',
 'Bacs',
 'Date:',
 '30/04/2020',
 'Period:',
 '1',
 'DESCRIPTION',
 'RATE',
 'UNITS',
 'DUE',
 'AMOUNT',
 '(£)',
 'THIS',
 'YEAR',
 '(£)',
 'Salary',
 '1334.13',
 '1334.13',
 'Back',
 'Pay',
 '431.03',
 '431.03',
 'Ers',
 'NIC',
 'TP:142.58',
 'Ers',
 'Pension',
 'TP:',
 '0.00',
 'TOTAL',
 '1,765.16',
 'Ers',
 'NIC',
 'YTD:',
 '142.58',
 'Ers',
 'Pension',
 'YTD:',
 '0.00',
 'Tax',
 '144.40',
 '144.40',
 'National',
 'Insurance',
 '116.78',
 '116.78',
 '261.18',
 'Total',
 'taxable',
 'pay',
 'to',
 'date:',
 '1,765.16',
 'Tax',
 'District:',
 'North',
 'East',
 'Metro',
 'Tax',
 'Reference:120/XA96981',
 'NET',
 'PAY',
 '1503.98']

#### Task 3: expand to use regular expression to match Employee_ID, Employee_Name, Company_Name

In [57]:
#Define what is an employee line with regular expression
#the "-" in SO-249 will cause the regular expression to crash
# \S will match any non-whitespace character
employ_re = re.compile(r"(SO\S\d+)(.*)(Perspectum.*)")
employ_re.search(text3).group(1,2,3)

('SO249', ' Yi Chun Wang ', 'Perspectum Diagnostics Ltd')

In [19]:
#try to match text variable and return it as a list
employ_re.findall(text3)

[('SO249', ' Yi Chun Wang Perspectum Diagnostics Ltd')]

In [77]:
Line = namedtuple("Employment","Employee_ID, Employee_Name, Company_Name")


holder = [] #create a list holder
emp = employ_re.search(text3)
Employee_ID, Employee_Name, Company_Name = emp.group(1), emp.group(2), emp.group(3)
holder.append(Line(Employee_ID, Employee_Name, Company_Name))
df = pd.DataFrame(holder)
df

  Employee_ID   Employee_Name                Company_Name
0       SO249   Yi Chun Wang   Perspectum Diagnostics Ltd

#### Task4: Practice Regular Expression with the existing :

In [98]:
text4

['SO249 Yi Chun Wang Perspectum Diagnostics Ltd',
 'NI Letter &No: A Tax Code: 1250L Pay By: Bacs Date: 30/04/2020 Period: 1',
 'DESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)',
 'Salary 1334.13 1334.13',
 'Back Pay 431.03 431.03',
 'Ers NIC TP:142.58 Ers Pension TP: 0.00',
 'TOTAL 1,765.16',
 'Ers NIC YTD: 142.58 Ers Pension YTD: 0.00',
 'Tax 144.40 144.40',
 'National Insurance 116.78 116.78',
 '261.18',
 'Total taxable pay to date: 1,765.16',
 'Tax District: North East Metro Tax Reference:120/XA96981 NET PAY 1503.98']

In [93]:
PayDay_re = re.compile(r"Date: \d{2}/\d{2}/\d{4}")
PayDay_re.search(text3)

In [13]:
#Expand the match and try to ignore matching white space
Salary_re = re.compile(r"Salary\s\d+.\d+")
Salary_re.search(text3)
BackPay_re = re.compile(r"Back Pay\s\d+.\d+")
BackPay_re.search(text3)
Tax_re = re.compile(r"Tax\s\d+.\d+")
NI_re = re.compile(r"National Insurance\s\d+.\d+")
NI_re.search(text3)

In [16]:
#split the infomation matched and write into csv
tmp = re.split(r":", text3)
tmp

['SO249 Yi Chun Wang Perspectum Diagnostics Ltd\nNI Letter &No',
 ' A Tax Code',
 ' 1250L Pay By',
 ' Bacs Date',
 ' 30/04/2020 Period',
 ' 1\nDESCRIPTION RATE UNITS DUE AMOUNT (£) THIS YEAR (£)\nSalary 1334.13 1334.13\nBack Pay 431.03 431.03\nErs NIC TP',
 '142.58 Ers Pension TP',
 ' 0.00\nTOTAL 1,765.16\nErs NIC YTD',
 ' 142.58 Ers Pension YTD',
 ' 0.00\nTax 144.40 144.40\nNational Insurance 116.78 116.78\n261.18\nTotal taxable pay to date',
 ' 1,765.16\nTax District',
 ' North East Metro Tax Reference',
 '120/XA96981 NET PAY 1503.98']